


  
  .App__Form {
    display: inline-block;
    float: left;
    width: 60%;
    height: 80%;
    background-color: #2E4158;
    
    overflow: auto;
    position: absolute;
    z-index: 30;
    max-width: 400px;
    padding-top: 4%;
    margin-top: 12%;
    margin-left: 18%;
    
  }

  


  .FormTitle {
    color: white;
    font-weight: 300;
    text-align: center;
    
  }



  .PageSwitcher {
    display: inline-block;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .PageSwitcher_Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .PageSwitcher_Item-Active {
    background-color: #5ED0C0;
    color: white;
  }
  
  .PageSwitcher_Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher_Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .form-content{
    margin-left: auto;
    margin-right: auto;
    width: 25em
  }

  @media screen and (max-width: 800px) {
    .form-content {
      width: 100%; 
    }
  }

  
  

  
